*{
    box-sizing: border-box;
    font-family: sans-serif;
}
  

  
body {
    background-image: linear-gradient(
      to left bottom,
      #000428,
      #001c3d,
      #003451,
      #005065,
      #004e92
    );
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    
}
  
  
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
    
    
  }
.grid-item{
    background-color: rgb(255, 255, 255, 0.1);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    background-size: 100% ;
    /* background-position: center; */
    max-height: 100%;
}

#avatar_image {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    justify-self: start;
    margin-top: -1em;
    margin-left: -1em;
}

.about-page-header{
    background-image:url(../images/my_photo.jpg);
    margin-top: 2em;
    background-repeat: no-repeat;
}
.home-page-header{
    margin-top: 2em;
    background-image:url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.skills-page-header{
    background-image:url(../images/se_skills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}  
.volunteer-page-header{
    background-image:url(../images/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-page-header{
    background-image:url(../images/my_photo.jpg);
    margin-top: 2em;
    background-repeat: no-repeat;
}
nav {
    justify-self: start;
}
  
nav .nav-link {
    color: rgb(252, 204, 62);
    margin: 0 10px;
}
.link{
    color: yellow;
} 
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.welcome-text{
    grid-template-rows: 1;
}

img{
    max-width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    color: white;
}

th {
    background-color: #004e92;
    color: white;
}
form label {
    display: block;
    margin-bottom: 8px;
    color: #ccc;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
a{
    color: yellow;
}
.logo{
    border-radius: 40%;
    max-width:20% ;
    margin-top: 1em;
    margin-bottom: 1em;
}